@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono";
  color: #fff;
}

body {
  background: url("./assets/bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  border-radius: 40px;
  z-index: 15;
  position: relative;
}

.canvas-wrap {
  position: relative;
}

.canvas-wrap .canvas-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-box-shadow: inset 14px 15px 76px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 14px 15px 76px 5px rgba(0, 0, 0, 0.75);
  box-shadow: inset 14px 15px 76px 5px rgba(0, 0, 0, 0.75);
  border-radius: 40px;
}

.canvas-wrap .canvas-overlay h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: bold;
  color: #ffcd34;
  text-transform: uppercase;
  opacity: 0;
}

.canvas-wrap .canvas-overlay h2.visible {
  opacity: 1;
}

img {
  display: none;
}

.menu {
  min-width: 200px;
  padding-left: 10px;
}

#start {
  background: #f5414d;
  font-size: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 10px 40px;
  border-radius: 5px;
  cursor: pointer;
}

.rocket-desc {
  margin-bottom: 10px;
}

.rocket-desc .rocket-title {
  color: #ffcd34;
  text-transform: capitalize;
  font-weight: bold;
}

.rocket-desc p {
  font-size: 12px;
  font-style: italic;
}

.rocket-desc .fuel-left {
  color: #dc546e;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
}
